.ais-button button {
	font-size: 14px;
	width: auto;
	height: auto;
	line-height: 16px;
	min-width: 3em;
	min-height: 32px;
	border: none;
	padding: 0.15em 0.6em;
	margin: 0;
}

.ais-button button:hover {
	border: none;
}

.ais-button button > span:nth-child(2) {
	display: inline-block;
	margin-left: 0.5em;
}
