<table class="ais-table exceed-side-border" ng-class="{ collapsible: !!getCollapsible }">
	<tr>
		<th ng-repeat="column in columns">
			{{ column.header }}
		</th>
	</tr>

	<tr ng-repeat-start="datum in data" data-toggle="collapse" href="#{{$index}}">
		<td ng-repeat="column in columns">
			<span ng-if="!column.isButtonColumn"> {{ datum[column.dataField] }} </span>
			<span ng-if="column.isButtonColumn && !!getButtons" ng-init="buttons = getButtons(datum)">
				<i ng-repeat="button in buttons" class="fa fa-{{button.faIcon}}" aria-hidden="true" title="{{button.tooltip}}" ng-click="button.onClick(datum)"></i>
			</span>
		</td>
	</tr>
	<tr ng-repeat-end ng-if="!!getCollapsible" ng-init="collapsible = getCollapsible(datum)" id="{{$index}}" class="collapse">
		<td colspan="100%" collapsible-content></td>
	</tr>
</table>
