<table class="ais-table exceed-side-border" ng-class="{ collapsible: !!getCollapsible }">
	<tr>
		<th ng-repeat="header in headers">
			{{ header }}
		</th>
		<th ng-if="!!getButtons">
			{{ buttonsHeader }}
		</th>
	</tr>

	<tr ng-repeat-start="datum in data" data-toggle="collapse" href="#{{$index}}">
		<td ng-repeat="cell in datum">
			{{ cell }}
		</td>
		<td ng-if="!!getButtons" ng-init="buttons = getButtons(datum)">
			<i ng-repeat="button in buttons" class="fa fa-{{button.faIcon}}" aria-hidden="true" title="{{button.tooltip}}" ng-click="button.onClick(datum)"></i>
		</td>
	</tr>
	<tr ng-repeat-end ng-if="!!getCollapsible" ng-init="collapsible = getCollapsible(datum)" id="{{$index}}" class="collapse">
		<td colspan="100%" collapsible-content></td>
	</tr>
</table>
