.ais-table {
	width: 100%;
}

.ais-table th:not(.collapsible-content),
.ais-table td:not(.collapsible-content) {
	padding-top: 0.25em;
	padding-bottom: 0.25em
}

.ais-table th:first-child,
.ais-table td:first-child {
	padding-left: 20px;
}

.ais-table th:last-child,
.ais-table td:last-child {
	padding-right: 20px;
}

.ais-table tr:nth-of-type(2n+1):not(:first-child),
.ais-table.collapsible tr:nth-of-type(4n+4),
.ais-table.collapsible tr:nth-of-type(4n+5) {
	background-color: #f6f6f6;
}

.ais-table tr:nth-of-type(2n+2),
.ais-table.collapsible tr:nth-of-type(4n+2),
.ais-table.collapsible tr:nth-of-type(4n+3) {
	background-color: #eaeaea;
}

.ais-table .fa:hover {
	font-weight: bold;
}
