<table class="ais-table exceed-side-border" ng-class="{ collapsible: !!table.getCollapsible }">
	<tr>
		<th ng-repeat="column in table.columns">
			{{ column.header }}
		</th>
	</tr>

	<tr ng-repeat-start="datum in table.data">
		<td ng-repeat="column in table.columns">
			<span ng-if="column.type == 'text'"> {{ datum[column.dataField] }} </span>
			<span ng-if="column.type == 'text-edit'"> <ais-textfield editable-text="datum[column.dataField]"></ais-textfield> </span>
			<span ng-if="column.type == 'text-button'" class="clickable-text" ng-click="column.onClick(datum)" title="{{column.tooltip}}">
					<i class="table-button fa fa-{{column.faIcon}}" aria-hidden="true"></i>
					{{ datum[column.dataField] }}
			</span>
			<span ng-if="column.type == 'buttons' && !!table.getButtons" ng-init="buttons = table.getButtons(datum)">
				<i ng-repeat="button in buttons" class="clickable-text table-button fa fa-{{button.faIcon}}" aria-hidden="true" title="{{button.tooltip}}" ng-click="button.onClick(datum)"></i>
			</span>
			<span ng-if="column.type == 'select'">
				<select ng-model="datum[column.dataField]">
					<option ng-repeat="option in column.options" value="{{option.value}}">{{ option.label }}</option>
				</select>
			</span>
		</td>
		<td ng-if="!!getCollapsible">
			<i class="fa fa-chevron-down collapse-icon closed" aria-hidden="true" data-toggle="collapse" href="#collapsible{{$index}}" ng-click="flipCollapseIcon($event)"></i>
		</td>
	</tr>
	<tr ng-repeat-end ng-if="!!getCollapsible" ng-init="collapsible = getCollapsible(datum)" id="collapsible{{$index}}" class="collapse">
		<td colspan="100%" collapsible-content></td>
	</tr>
</table>
